/* main */
.main_tit {text-align: center; display: flex; flex-direction: column; gap: 20px; margin-bottom: 50px}
.main_tit .head {font-weight: 900; font-size: 1.25rem;}
.main_tit .big {font-weight: 900; font-size: 2.5rem; color: var(--mainColor); line-height: 1.2}
.main_tit .small {font-size: 1.125rem}

.main_top {padding: 100px 0; position: relative; overflow: hidden;}

.main_top .bg {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}
.main_top .bg::after {
    display: block; content: ""; width: 100%; height: 100%; z-index: 1;
    position: absolute; top: 0; left: 0; background: var(--mainColor); opacity: .7;
}

.main_top .bg img {width: 100%; height: 100%; object-fit: cover;}
.main_top .bg div {width: 100%; height: 100%;}

.main_top .inner {position: relative; z-index: 2; display: flex; flex-direction: column; align-items: center; gap: 40px;}
.main_top .title {text-align: center; font-weight: 900; color: #fff; font-size: 3rem; line-height: 1.3;}
.main_top .cont_box {width: 100%; max-width: 800px;}
.main_top .cont_box .list {display: flex; gap: 20px;}
.main_top .cont_box .item {
    width: 100%; padding: 10px; display: flex; flex-direction: column; align-items: center; gap: 5px; justify-content: center; text-align: center;
    aspect-ratio: 1/1; border: 3px solid rgba(255,255,255,.3); border-radius: 10px; background: rgba(255,255,255,.2);
}
.main_top .cont_box .item .icon {max-width: 100px; width: 50%;}
.main_top .cont_box .item .text {color: #fff; font-weight: 700; font-size: 1.125rem;}
.main_top .cont_box .more {margin:20px 0 0 auto;  display: flex; gap: 5px; align-items: center; width: max-content; color: #fff; font-size: 1rem; font-weight: 700;}
.main_top .cont_box .more::after {content: ""; width: 24px; height: 24px; background: url('../img/icon_more_arr.png') no-repeat center center / contain;}
.main_top .cont_box .more:hover {animation: moveBtn 1s infinite linear;}

@keyframes moveBtn {
    0% {margin-right: 0px;}
    50% {margin-right: 7px;}
    100% {margin-right: 0px;}
}


.main_intro {background: #f6f6f6;}
.main_intro .main_tit {margin-bottom: 0}

.main_do .list {background: var(--bgColor); border-radius: 10px; width: 100%; max-width: max-content; padding: 0 40px; margin: 0 auto;}
.main_do .item {padding: 30px 0; border-bottom: 1px solid var(--mainColor); display: flex; align-items: center; color: var(--mainColor);}
.main_do .item:last-child {border-bottom: 0;}
.main_do .item .number {width: 100px; flex-shrink: 0; font-size: 3rem; font-weight: 900; line-height: 1}
.main_do .item .box {border-left: 1px solid var(--mainColor); padding-left: 30px;}
.main_do .item .tit {font-size: 1.125rem; font-weight: 900;}
.main_do .item .text {margin-top: 5px}

.main_cur .list {display: flex; justify-content: center; flex-wrap: wrap; gap: 20px;}
.main_cur .item {border-radius: 10px; overflow: hidden; position: relative; width: calc(25% - 15px); min-height:350px; display: flex; align-items: flex-end;}
.main_cur .item .bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.main_cur .item .bg::before {
    display: block; content: ""; width: 100%; height: 100%; background:#000; opacity: .2;  z-index: 1;
    position: absolute; top: 0; left: 0;
}
.main_cur .item .bg img {width: 100%; height: 100%; object-fit: cover; transition: all .3s;}
.main_cur .item .cont {z-index: 1; position: relative; padding: 20px; color: #fff; text-align: right; width: 100%;}
.main_cur .item .cont .tit {font-size: 1.125rem; font-weight: 900;}
.main_cur .item .cont .text {margin-top: 7px;}
.main_cur .item:hover .bg img {scale: 1.2;}


/* marine */
.mar_sec .inner {max-width: 900px;}
.mar_sum .list {border: 2px solid var(--subColor); padding: 40px; border-radius: 5px; display: flex; flex-direction: column; gap: 30px;}
.mar_sum .item {display: flex; gap: 20px; align-items: flex-start;}
.mar_sum .item .gu {
    background: var(--mainColor); color: #fff; font-weight: 700; border-radius: 100px; flex-shrink: 0;
    width: 140px; height: 45px; line-height: 45px; text-align: center;
}
.mar_sum .item .nae {display: flex; flex-direction: column; gap: 10px;}
.mar_sum .item .nae .p {padding-left: 12px; position: relative;}
.mar_sum .item .nae .p::before {
    display: block; content: ""; width: 5px; height: 5px; background: var(--mainColor);
    position: absolute; left: 0; top: 9px;
}
.mar_pur .list {display: flex; justify-content: center; gap: 20px;}
.mar_pur .item {display: flex; flex-direction: column; align-items: center; gap: 20px; width: 100%;}
.mar_pur .item .box {
    border-radius: 100px; border: 2px solid var(--subColor); aspect-ratio: 1/1; width: 200px; padding: 10px;
    display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;
}
.mar_pur .item:nth-child(1) .box {border-color: #CDDFF8;}
.mar_pur .item:nth-child(2) .box {border-color: #9DBFF4;}
.mar_pur .item:nth-child(3) .box {border-color: #083274;}
.mar_pur .item .icon {width: 60%; max-width: 60px;}
.mar_pur .item .tit {text-align: center; font-size: 1.125rem;}
.mar_pur .item .text {text-align: center; font-size: 0.94rem;}
.mar_dir .list {display: flex; flex-direction: column; gap: 20px;}
.mar_dir .item {padding: 20px; border: 2px solid var(--subColor); display: flex; gap: 20px; align-items: center; border-radius: 5px;}
.mar_dir .item .gu {
    width: 60px; height: 60px; line-height: 60px; text-align: center; font-weight: 900; font-size: 1.5rem;
    background: var(--mainColor); color: #fff; border-radius: 100px; flex-shrink: 0;
}
.mar_gov .gov_box {display: flex; gap: 60px;}
.mar_gov .box {display: flex; flex-direction: column; align-items: center;}
.mar_gov .box .topLogo {background: #fff; border: 2px solid var(--subColor); display: flex; align-items: center; justify-content: center; padding:0 40px;}
.mar_gov .box.gg {width: calc(40% - 60px);}
.mar_gov .box.gg .topLogo {border-radius: 100%;  aspect-ratio: 3/1;}
.mar_gov .box.gg .line {background: var(--subColor); width: 2px; height: 100px; position: relative;}
.mar_gov .box.gg .line::after {
    display: block; content: ""; width: 380px; height: 2px; background: var(--subColor);
    position: absolute; top: 50%; left: 0; transform: translateY(-50%);
}
.mar_gov .box.edum {width: 60%; margin-top: 65px; gap: 25px; position: relative; z-index: 1;}
.mar_gov .box.edum .topLogo {border-radius: 20px; aspect-ratio: 4/3; max-width: 220px; position: relative;}
.mar_gov .box.edum .topLogo::after {
    display: block; content: ""; width: 2px; height: 27px; background: var(--subColor);
    position: absolute; top: 100%; left: 50%; transform: translateX(-50%);
}
.mar_gov .box.edum .line {width: calc(50% + 10px); height: 2px; background: var(--subColor);}
.mar_gov .box.edum .item {position: relative;}
.mar_gov .box.edum .item::before {
    display: block; content: ""; width: 2px; height: 27px; background: var(--subColor);
    position: absolute; bottom: 100%; left: 50%; transform: translateX(-50%);
}
.mar_gov .list {display: flex; gap: 20px; flex: 1 0 0;}
.mar_gov .item {width: 100%; display: flex; flex-direction: column; flex: 1 0 0;}
.mar_gov .item .tit {padding: 10px; background: var(--mainColor); color: #fff; font-weight: 700; border-radius: 5px; text-align: center; position: relative; z-index: 1;}
.mar_gov .item .nae {padding: 20px; border: 2px solid var(--subColor); margin-top: -4px; border-radius: 5px; display: flex; justify-content: center; flex-direction: column; gap: 20px; flex: 1 0 0;}
.mar_gov .item .logo {display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap:15px;}
.mar_gov .item .text {display: flex; flex-direction: column; gap: 7px;}
.mar_gov .item .text p {font-size: 0.94rem; padding-left: 12px; position: relative;}
.mar_gov .item .text p::before {
    display: block; content: ""; width: 5px; height: 5px; background: var(--mainColor);
    position: absolute; left: 0; top: 9px;
}
.mar_gov .item.partnes .logo {gap: 30px;}

.mar_cen .tab_menu {background: var(--bgColor); position: relative; z-index: 1;}
.mar_cen .tab_menu li {
    border-radius: 5px; color: #aaa; font-size: 1rem; min-height: 60px; width: 100%; transition: all .3s;
    display: flex; align-items: center; justify-content: center; padding: 5px; text-align: center;
}
.mar_cen .tab_menu li.on {background: var(--mainColor); color: #fff;}
.mar_cen .tab_menu li:hover {background: var(--mainColor); color: #fff;}
.mar_cen .tab_cont {border: 2px solid var(--subColor); border-radius: 5px; margin-top: -5px; }
.mar_cen .tab_cont .box {
    display: flex; flex-wrap: wrap; align-items: center; justify-content: center; align-content: center;
    width: 100%; aspect-ratio: 5/2; font-size: 0; gap: 30px 40px; padding: 40px;
} 


/* current */
.cur_sec .inner {max-width: 900px;}
.cur_int .cont_box {display: flex; flex-direction: column; gap: 40px;}
.cur_int .box .tit {
    background: var(--bgColor); width: 100%; height: 50px; line-height: 50px;
    border-radius: 5px; text-align: center; font-size: 1.125rem; margin-bottom: 20px;
}
.cur_int .box .list {display: flex; gap: 40px;}
.cur_int .box .item {width: 100%; display: flex; flex-direction: column; align-items: center; text-align: center;}
.cur_int .box .icon {max-width: 130px;}
.cur_int .box .text {font-size: 0.875rem; }
.cur_int .box .text span {display: inline-block;}
.cur_int .box .text .big {font-size: 1.125rem;}
.cur_int .box .text .line {background: #FFF2BD; padding: 0 2px;}
.cur_fac .img_box {font-size: 0; border: 1px solid var(--border); margin-bottom: 20px;}
.cur_fac .tab_wrap {display: flex; gap: 20px;}
.cur_fac .tab_menu {display: flex; gap: 10px; flex-direction: column; width: 300px;}
.cur_fac .tab_menu li {background: var(--bgColor); color: #777; min-height: 52px; padding: 0 32px; display: flex; align-items: center; border-radius: 5px; transition: all .3s; }
.cur_fac .tab_menu li.on {background: var(--mainColor); color: #fff;}
.cur_fac .tab_menu li:hover {background: var(--mainColor); color: #fff;}
.cur_fac .cont_box {flex: 1 0 0;}
.cur_fac .tab_cont .img {width: 100%; aspect-ratio: 7/3; overflow: hidden;}
.cur_fac .tab_cont .img img {width: 100%; height: 100%; object-fit: cover;}
.cur_fac .tab_cont .text { margin-top: 10px; text-align: right; color: #777;}

.cur_gro .list {display: flex; gap: 20px;}
.cur_gro .item {
    border-radius: 5px; padding: 15px; background: #fff; border: 2px solid var(--subColor); width: 100%;
    text-align: center; display: flex; flex-direction: column; gap: 10px;
}
.cur_gro .item .tit {background: var(--mainColor); color: #fff; border-radius: 5px; min-height: 90px; padding: 5px; display: flex; align-items: center; justify-content: center;}
.cur_gro .item .text {flex: 1 0 0; display: flex; align-items: center; font-size: 0.875rem; justify-content: center; text-align: center;}
.cur_gro .graph_box {
    border-radius: 5px; border: 2px solid var(--subColor); background: var(--bgColor); padding: 50px 50px 30px; margin-top: 30px;
    display: flex; flex-wrap: wrap; gap:40px 60px;
}
.cur_gro .graph_box .top {text-align: center; font-size: 1.5rem; text-align: center; width: 100%; font-weight: 700;}
.cur_gro .graph_box .box {width: calc(50% - 30px); }
.cur_gro .graph_box .box .tit {text-align: center; margin-bottom: 20px;}
.cur_gro .graph_box .sc {color: #999; font-size: 0.625rem; text-align: right; width: 100%; margin-top: -20px;}

.cur_div .list {display: flex; gap: 30px; position: relative;}
.cur_div .list::after {
    display: block; content: ""; width: 100%; height: 5px; background: var(--bgColor);
    position: absolute; top: 32%; left: 0; transform: translateY(-50%); z-index: -1;
}
.cur_div .item {display: flex; flex-direction: column; gap: 10px; width: 100%; align-items: center;}
.cur_div .item .icon {border: 5px solid var(--bgColor); border-radius: 100px; overflow: hidden; font-size: 0; max-width: 130px;}
.cur_div .item .text {text-align: center; font-size: 0.875rem;}


/* contact */
.ct_sec .inner {max-width: 900px;}
.ct_way .tab_menu {gap: 10px; margin-bottom: 30px;}
.ct_way .tab_menu li {background: var(--bgColor); width: 100%; border-radius: 5px; font-size: 1rem; color: #777; padding: 5px; text-align: center; transition: all .3s;}
.ct_way .tab_menu li.on {background: var(--mainColor); color: #fff;}
.ct_way .tab_menu li:hover {background: var(--mainColor); color: #fff;}
.ct_way .tab_cont .box {display: flex; flex-direction: column; gap: 30px;}
.ct_way .map {overflow: hidden; width: 100%; border-radius: 5px; border: 2px solid var(--subColor); aspect-ratio: 5/2;}
.ct_way .map iframe {width: 100%; height: 100%;}
.ct_way .info {display: flex; flex-wrap: wrap; gap: 20px;}
.ct_way .info li {width: calc(50% - 10px); display: flex; align-items: center; gap: 10px; font-size: 1.125rem;}
.ct_way .info li.w100 {width: 100%;}
.ct_way .info .gu {display: flex; align-items: center; gap: 10px; font-weight: 700;}
.ct_way .info .icon {width: 40px; height: 40px; font-size: 0; flex-shrink: 0;}
.ct_way .btn {
    width: 100%; display: flex; align-items: center; justify-content: center; text-align: center; border-radius: 5px; padding: 5px; transition: all .3s;
    background: var(--mainColor); color: #fff; font-size: 1.25rem; height: 70px; transition: all .3s;
}
.ct_way .btn:hover {background: var(--subColor);}

/* edu */
.edu_sec .inner {max-width: 900px;}
.edu_cur .table {overflow-x: auto;}
.edu_cur .table table {min-width: 600px;}
.edu_equ .tb_box .box {text-align: center;}
.edu_equ .tb_box td .box {padding: 10px;}
.edu_equ .tb_box .img {display: flex; margin-bottom: 20px; flex-wrap: wrap;}
.edu_equ .tb_box .img img {width: 25%;}
.edu_equ .table {overflow-x: auto;}
.edu_equ .table table {min-width: 600px;}