<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtf.edumarine.mapper.CommMapper">

    <select id="getTemplateContent" parameterType="java.lang.String" resultType="com.mtf.edumarine.dto.TemplateDTO">
        /* com.mtf.edumarine.mapper.CommMapper.getTemplateContent */
        SELECT seq
             , title
             , content
             , del_yn
             , note
             , init_regi_pic
             , init_regi_dttm
             , final_regi_pic
             , final_regi_dttm
        FROM template
        WHERE note = #{target}
        AND del_yn = 'N'
        LIMIT 1
    </select>

    <select id="getSmsSendingJoinList" parameterType="com.mtf.edumarine.dto.SmsNotificationDTO" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.CommMapper.getSmsSendingJoinList */
        SELECT phone
        FROM member
        WHERE sms_yn = '1'
          AND del_yn = 'N'
          AND apply_status != '탈퇴'
          AND seq = #{seq}
    </select>

    <select id="getSmsSendingKeywordList" parameterType="com.mtf.edumarine.dto.SmsNotificationDTO" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.CommMapper.getSmsSendingKeywordList */
        SELECT phone
        FROM member
        WHERE sms_yn = '1'
          AND del_yn = 'N'
          AND apply_status != '탈퇴'
          AND keyword LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>

