<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtf.edumarine.mapper.CommMapper">

    <select id="getTemplateContent" parameterType="java.lang.String" resultType="com.mtf.edumarine.dto.TemplateDTO">
        /* com.mtf.edumarine.mapper.CommMapper.getTemplateContent */
        SELECT seq
             , title
             , content
             , del_yn
             , note
             , init_regi_pic
             , init_regi_dttm
             , final_regi_pic
             , final_regi_dttm
        FROM template
        WHERE note = #{target}
        AND del_yn = 'N'
        LIMIT 1
    </select>

    <select id="getSmsSendingJoinList" parameterType="com.mtf.edumarine.dto.SmsNotificationDTO" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.CommMapper.getSmsSendingJoinList */
        SELECT phone
        FROM member
        WHERE sms_yn = '1'
          AND del_yn = 'N'
          AND apply_status != '탈퇴'
          AND seq = #{seq}
    </select>

    <select id="getSmsSendingKeywordList" parameterType="com.mtf.edumarine.dto.SmsNotificationDTO" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.CommMapper.getSmsSendingKeywordList */
        SELECT phone
        FROM member
        WHERE sms_yn = '1'
          AND del_yn = 'N'
          AND apply_status != '탈퇴'
          AND keyword LIKE CONCAT('%', #{keyword}, '%')
    </select>

    <select id="getSmsSendingTrainNotiList" resultType="com.mtf.edumarine.dto.TrainDTO">
        /* com.mtf.edumarine.mapper.CommMapper.getSmsSendingTrainNotiList */
        SELECT r.train_seq as seq
             , r.member_seq as memberSeq
             , m.phone
             , t.gbn
             , t.train_start_dttm
             , t.train_end_dttm
             , t.next_time
        FROM (SELECT r.train_seq
                   , r.member_seq
              FROM regular r
              WHERE r.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT b.train_seq
                   , b.member_seq
              FROM boarder b
              WHERE b.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT f.train_seq
                   , f.member_seq
              FROM frp f
              WHERE f.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT i.train_seq
                   , i.member_seq
              FROM inboarder i
              WHERE i.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT o.train_seq
                   , o.member_seq
              FROM outboarder o
              WHERE o.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT s.train_seq
                   , s.member_seq
              FROM sailyacht s
              WHERE s.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT h.train_seq
                   , h.member_seq
              FROM highhorsepower h
              WHERE h.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT hs.train_seq
                   , hs.member_seq
              FROM highself hs
              WHERE hs.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT hp.train_seq
                   , hp.member_seq
              FROM highspecial hp
              WHERE hp.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT sd.train_seq
                   , sd.member_seq
              FROM sterndrive sd
              WHERE sd.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT ss.train_seq
                   , ss.member_seq
              FROM sternspecial ss
              WHERE ss.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT bs.train_seq
                   , bs.member_seq
              FROM basic bs
              WHERE bs.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT em.train_seq
                   , em.member_seq
              FROM emergency em
              WHERE em.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT ge.train_seq
                   , ge.member_seq
              FROM generator ge
              WHERE ge.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT cp.train_seq
                   , cp.member_seq
              FROM competency cp
              WHERE cp.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT fi.train_seq
                   , fi.member_seq
              FROM famtourin fi
              WHERE fi.apply_status NOT LIKE CONCAT('%', '취소', '%')
              UNION ALL
              SELECT fo.train_seq
                   , fo.member_seq
              FROM famtourout fo
              WHERE fo.apply_status NOT LIKE CONCAT('%', '취소', '%')
              ) r
        JOIN member m
        ON r.member_seq = m.seq
        JOIN train t
        ON r.train_seq = t.seq
        WHERE m.sms_yn = '1'
          AND m.del_yn = 'N'
          AND m.apply_status != '탈퇴'
          AND t.closing_yn = 'N'
          AND t.del_yn = 'N'
          AND TIMESTAMPDIFF(DAY, DATE_FORMAT(NOW(), '%Y.%m.%d'), DATE_FORMAT(t.train_start_dttm, '%Y.%m.%d')) = 2
    </select>

    <select id="selectMemberGradeUpdateTarget" resultType="com.mtf.edumarine.dto.MemberGradeDTO">
        /* com.mtf.edumarine.mapper.CommMapper.selectMemberGradeUpdateTarget */
        SELECT rs.seq
             , rs.apply_status
             , rs.name
             , rs.sms_yn
             , rs.grade
             , (CASE
                    WHEN sms_yn = 1 OR regularCnt = 1
                        THEN CASE
                                 WHEN outboarderCnt = 1 OR inboarderCnt = 1 OR sailyachtCnt = 1 OR basicCnt = 1
                                          OR emergencyCnt = 1 OR famtourinCnt = 1 OR famtouroutCnt = 1 THEN '교육생(단기)'
                                 WHEN boarderCnt = 1 OR frpCnt = 1 OR highhorsepowerCnt = 1 OR sterndriveCnt = 1 OR highselfCnt = 1
                                          OR highspecialCnt = 1 OR sternspecialCnt = 1 OR generatorCnt = 1 OR competencyCnt = 1 THEN '교육생(정규)'
                                 ELSE '관심사용자'
                        END
                    ELSE CASE
                             WHEN outboarderCnt = 1 OR inboarderCnt = 1 OR sailyachtCnt = 1 OR basicCnt = 1
                                      OR emergencyCnt = 1 OR famtourinCnt = 1 OR famtouroutCnt = 1 THEN '교육생(단기)'
                             WHEN boarderCnt = 1 OR frpCnt = 1 OR highhorsepowerCnt = 1 OR sterndriveCnt = 1 OR highselfCnt = 1
                                      OR highspecialCnt = 1 OR sternspecialCnt = 1 OR generatorCnt = 1 OR competencyCnt = 1 THEN '교육생(정규)'
                             ELSE '일반회원'
                        END
            END) AS afterGrade
        FROM (SELECT m.seq
                   , m.apply_status
                   , m.name
                   , m.sms_yn
                   , m.grade
                   , (SELECT COUNT(*)
                      FROM regular r
                      WHERE r.member_seq = m.seq AND r.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS regularCnt
                   , (SELECT COUNT(*)
                      FROM boarder b
                      WHERE b.member_seq = m.seq AND b.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS boarderCnt
                   , (SELECT COUNT(*)
                      FROM frp f
                      WHERE f.member_seq = m.seq AND f.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS frpCnt
                   , (SELECT COUNT(*)
                      FROM outboarder o
                      WHERE o.member_seq = m.seq AND o.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS outboarderCnt
                   , (SELECT COUNT(*)
                      FROM inboarder i
                      WHERE i.member_seq = m.seq AND i.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS inboarderCnt
                   , (SELECT COUNT(*)
                      FROM sailyacht s
                      WHERE s.member_seq = m.seq AND s.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS sailyachtCnt
                   , (SELECT COUNT(*)
                      FROM highhorsepower h
                      WHERE h.member_seq = m.seq AND h.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS highhorsepowerCnt
                   , (SELECT COUNT(*)
                      FROM highself hs
                      WHERE hs.member_seq = m.seq AND hs.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS highselfCnt
                   , (SELECT COUNT(*)
                      FROM highspecial hp
                      WHERE hp.member_seq = m.seq AND hp.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS highspecialCnt
                   , (SELECT COUNT(*)
                      FROM sterndrive t
                      WHERE t.member_seq = m.seq AND t.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS sterndriveCnt
                   , (SELECT COUNT(*)
                      FROM sternspecial sp
                      WHERE sp.member_seq = m.seq AND sp.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS sternspecialCnt
                   , (SELECT COUNT(*)
                      FROM basic ba
                      WHERE ba.member_seq = m.seq AND ba.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS basicCnt
                   , (SELECT COUNT(*)
                      FROM emergency em
                      WHERE em.member_seq = m.seq AND em.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS emergencyCnt
                   , (SELECT COUNT(*)
                      FROM generator gn
                      WHERE gn.member_seq = m.seq AND gn.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS generatorCnt
                   , (SELECT COUNT(*)
                      FROM competency ct
                      WHERE ct.member_seq = m.seq AND ct.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS competencyCnt
                   , (SELECT COUNT(*)
                      FROM famtourin fi
                      WHERE fi.member_seq = m.seq AND fi.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS famtourinCnt
                   , (SELECT COUNT(*)
                      FROM famtourout fo
                      WHERE fo.member_seq = m.seq AND fo.apply_status NOT LIKE CONCAT('%', '취소', '%')) AS famtouroutCnt
              FROM member m
              WHERE m.apply_status != '탈퇴'
                AND m.del_yn = 'N') rs
    </select>

    <update id="updateMemberGrade" parameterType="com.mtf.edumarine.dto.MemberGradeDTO">
        /* com.mtf.edumarine.mapper.CommMapper.updateMemberGrade */
        UPDATE member
        SET grade = #{afterGrade}
          , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE seq = #{seq}
    </update>

    <update id="updateFileUserId" parameterType="com.mtf.edumarine.dto.FileDTO">
        /* com.mtf.edumarine.mapper.CommMapper.updateFileUserId */
        UPDATE file
        SET user_id = #{userId}
          , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE id = #{id}
    </update>

    <update id="updateFileDeleteUseN" parameterType="com.mtf.edumarine.dto.FileDTO">
        /* com.mtf.edumarine.mapper.CommMapper.updateFileDeleteUseN */
        UPDATE file
        SET file_yn = 'N'
          , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE user_id = #{userId}
    </update>

    <select id="selectFileUserIdList" parameterType="com.mtf.edumarine.dto.FileDTO" resultType="com.mtf.edumarine.dto.FileDTO">
        /* com.mtf.edumarine.mapper.CommMapper.selectFileUserIdList */
        SELECT id
             , user_id
             , full_file_path
             , full_path
             , folder_path
             , full_file_name
             , uuid
             , file_name
             , file_yn
             , note
        FROM file
        WHERE user_id = #{userId}
          AND file_yn = 'Y'
        ORDER BY id
    </select>

</mapper>