<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtf.edumarine.mapper.EduMarineMngMapper">

    <select id="login" parameterType="com.mtf.edumarine.dto.AdminDTO" resultType="com.mtf.edumarine.dto.AdminDTO">
        /* com.mtf.edumarine.mapper.EdumarineMapper.login */
        SELECT id
        FROM admin
        WHERE id = #{id}
          AND password = <![CDATA[#{password}]]>
    </select>

    <select id="selectNoticeList" parameterType="com.mtf.edumarine.dto.SearchDTO" resultType="com.mtf.edumarine.dto.NoticeDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.selectNoticeList */
        SELECT seq
        , lang
        , notice_gbn
        , title
        , writer
        , write_date
        , final_regi_dttm
        , view_cnt
        FROM notice
        WHERE 1=1
        <if test='searchText != null and searchText != ""'>
            AND title LIKE CONCAT('%',#{searchText},'%')
        </if>
        <if test='condition != null and condition != ""'>
            AND lang = #{condition}
        </if>
        ORDER BY notice_gbn desc, init_regi_dttm desc, title asc
    </select>

    <select id="selectNoticeSingle" parameterType="com.mtf.edumarine.dto.NoticeDTO" resultType="com.mtf.edumarine.dto.NoticeDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.selectNoticeSingle */
        SELECT seq
             , lang
             , notice_gbn
             , title
             , content
             , writer
             , write_date
             , view_cnt
             , file_id_list
             , note
             , init_regi_pic
             , init_regi_dttm
             , final_regi_pic
             , final_regi_dttm
        FROM notice
        WHERE seq = #{seq}
    </select>

    <delete id="deleteNotice" parameterType="com.mtf.edumarine.dto.NoticeDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.deleteNotice */
        DELETE FROM notice
        WHERE seq = #{seq}
    </delete>

    <update id="updateNotice" parameterType="com.mtf.edumarine.dto.NoticeDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.updateNotice */
        UPDATE notice
        SET lang = #{lang}
        , notice_gbn = #{noticeGbn}
        , title = <![CDATA[#{title}]]>
        , content = <![CDATA[#{content}]]>
        , writer = #{writer}
        , write_date = #{writeDate}
        <if test='fileIdList != ""'>
            , file_id_list = <![CDATA[#{fileIdList}]]>
        </if>
        , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE seq = #{seq}
    </update>

    <select id="getNoticeSeq" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.getNoticeSeq */
        SELECT CONCAT('N', LPAD(nextval('notice_seq'), '7', '0'))
        FROM DUAL
    </select>

    <insert id="insertNotice" parameterType="com.mtf.edumarine.dto.NoticeDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.insertNotice */
        INSERT INTO notice
        ( seq
        , lang
        , notice_gbn
        , title
        , content
        , writer
        , write_date
        , file_id_list
        , note
        , init_regi_pic
        , init_regi_dttm
        , final_regi_pic
        , final_regi_dttm
        )
        VALUES
            ( #{seq}
            , #{lang}
            , #{noticeGbn}
            , <![CDATA[#{title}]]>
            , <![CDATA[#{content}]]>
            , #{writer}
            , #{writeDate}
            , <![CDATA[#{fileIdList}]]>
            , #{note}
            , 'NOTICE'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            , 'NOTICE'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            )
    </insert>

    <select id="selectPressList" parameterType="com.mtf.edumarine.dto.SearchDTO" resultType="com.mtf.edumarine.dto.PressDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.selectPressList */
        SELECT seq
        , lang
        , notice_gbn
        , title
        , writer
        , write_date
        , final_regi_dttm
        , view_cnt
        FROM press
        WHERE 1=1
        <if test='searchText != null and searchText != ""'>
            AND title LIKE CONCAT('%',#{searchText},'%')
        </if>
        <if test='condition != null and condition != ""'>
            AND lang = #{condition}
        </if>
        ORDER BY notice_gbn desc, init_regi_dttm desc, title asc
    </select>

    <select id="selectPressSingle" parameterType="com.mtf.edumarine.dto.PressDTO" resultType="com.mtf.edumarine.dto.PressDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.selectPressSingle */
        SELECT seq
             , lang
             , notice_gbn
             , title
             , content
             , writer
             , write_date
             , view_cnt
             , file_id_list
             , note
             , init_regi_pic
             , init_regi_dttm
             , final_regi_pic
             , final_regi_dttm
        FROM press
        WHERE seq = #{seq}
    </select>

    <delete id="deletePress" parameterType="com.mtf.edumarine.dto.PressDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.deletePress */
        DELETE FROM press
        WHERE seq = #{seq}
    </delete>

    <update id="updatePress" parameterType="com.mtf.edumarine.dto.PressDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.updatePress */
        UPDATE press
        SET lang = #{lang}
        , notice_gbn = #{noticeGbn}
        , title = <![CDATA[#{title}]]>
        , content = <![CDATA[#{content}]]>
        , writer = #{writer}
        , write_date = #{writeDate}
        <if test='fileIdList != ""'>
            , file_id_list = <![CDATA[#{fileIdList}]]>
        </if>
        , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE seq = #{seq}
    </update>

    <select id="getPressSeq" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.getPressSeq */
        SELECT CONCAT('P', LPAD(nextval('press_seq'), '7', '0'))
        FROM DUAL
    </select>

    <insert id="insertPress" parameterType="com.mtf.edumarine.dto.PressDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.insertPress */
        INSERT INTO press
        ( seq
        , lang
        , notice_gbn
        , title
        , content
        , writer
        , write_date
        , file_id_list
        , note
        , init_regi_pic
        , init_regi_dttm
        , final_regi_pic
        , final_regi_dttm
        )
        VALUES
            ( #{seq}
            , #{lang}
            , #{noticeGbn}
            , <![CDATA[#{title}]]>
            , <![CDATA[#{content}]]>
            , #{writer}
            , #{writeDate}
            , <![CDATA[#{fileIdList}]]>
            , #{note}
            , 'PRESS'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            , 'PRESS'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            )
    </insert>

    <select id="getFileId" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.edumarineMapper.getFileId */
        SELECT CONCAT('F', LPAD(nextval('file_seq'), '7', '0'))
        FROM DUAL
    </select>

    <insert id="insertFileInfo" parameterType="com.mtf.edumarine.dto.FileDTO">
        /* com.mtf.edumarine.mapper.edumarineMapper.insertFileInfo */
        INSERT INTO file
        ( id
        , user_id
        , full_file_path
        , full_path
        , folder_path
        , full_file_name
        , uuid
        , file_name
        , file_yn
        , note
        , init_regi_pic
        , init_regi_dttm
        , final_regi_pic
        , final_regi_dttm
        )
        VALUES
            ( #{id}
            , #{userId}
            , <![CDATA[#{fullFilePath}]]>
            , <![CDATA[#{fullPath}]]>
            , <![CDATA[#{folderPath}]]>
            , <![CDATA[#{fullFileName}]]>
            , <![CDATA[#{uuid}]]>
            , <![CDATA[#{fileName}]]>
            , #{fileYn}
            , #{note}
            , 'FILE'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            , 'FILE'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            )
    </insert>

    <select id="selectFileUserIdList" parameterType="com.mtf.edumarine.dto.FileDTO" resultType="com.mtf.edumarine.dto.FileDTO">
        /* com.mtf.edumarine.mapper.edumarineMapper.selectFileUserIdList */
        SELECT id
             , user_id
             , full_file_path
             , full_path
             , folder_path
             , full_file_name
             , uuid
             , file_name
             , note
             , init_regi_pic
             , init_regi_dttm
             , final_regi_pic
             , final_regi_dttm
        FROM file
        WHERE user_id = #{userId}
          AND file_yn = 'Y'
    </select>

    <update id="updateFileUseN" parameterType="com.mtf.edumarine.dto.FileDTO">
        /* com.mtf.edumarine.mapper.edumarineMapper.updateFileUseN */
        UPDATE file
        SET file_yn = 'N'
          , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE id = #{id}
    </update>

    <update id="updateFileUserId" parameterType="com.mtf.edumarine.dto.FileDTO">
        /* com.mtf.edumarine.mapper.edumarineMapper.updateFileUserId */
        UPDATE file
        SET user_id = #{userId}
          , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE id = #{id}
    </update>

</mapper>

