<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mtf.edumarine.mapper.UnifiedMapper">

    <select id="getUnifiedAppSeq" resultType="java.lang.String">
        /* com.mtf.edumarine.mapper.UnifiedMapper.getUnifiedAppSeq */
        SELECT CONCAT('AU', LPAD(nextval('unified_app_seq'), '7', '0'))
        FROM DUAL
    </select>

    <insert id="insertUnifiedApplication" parameterType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.UnifiedMapper.insertUnifiedApplication */
        INSERT INTO application_unified
        ( seq, train_seq, member_seq, apply_status

        , region, participation_path, first_application_field, second_application_field, third_application_field
        , desired_education_time, major, experience_yn, recommend_person

        , top_clothes_size, bottom_clothes_size, shoes_size, grade_gbn, school_name
        , military_gbn, military_reason, disabled_gbn, job_support_gbn, tech_edu_gbn
        , tech_edu_name, apply_reason, tech_reason, activity_reason, plan_reason
        , etc_reason, know_path, know_path_reason

        , clothes_size

        , rc_birth_year, rc_birth_month, rc_birth_day

        , train_understand, train_understand_etc

        , boarder_gbn

        , apply_day
        , choice_date

        , cancel_dttm, cancel_reason, refund_bank_code, refund_bank_name
        , refund_bank_customer_name, refund_bank_number

        , del_yn, note, init_regi_pic
        , init_regi_dttm, final_regi_pic, final_regi_dttm
        )
        VALUES
            ( #{seq}, #{trainSeq}, #{memberSeq}, #{applyStatus}

            , #{region}, #{participationPath}, #{firstApplicationField}, #{secondApplicationField}, #{thirdApplicationField}
            , #{desiredEducationTime}, #{major}, #{experienceYn}, #{recommendPerson}

            , #{topClothesSize}, #{bottomClothesSize}, #{shoesSize}, #{gradeGbn}, #{schoolName}
            , #{militaryGbn}, #{militaryReason}, #{disabledGbn}, #{jobSupportGbn}, #{techEduGbn}
            , #{techEduName}, <![CDATA[#{applyReason}]]>, <![CDATA[#{techReason}]]>, <![CDATA[#{activityReason}]]>, <![CDATA[#{planReason}]]>
            , <![CDATA[#{etcReason}]]>, #{knowPath}, #{knowPathReason}

            , #{clothesSize}

            , #{rcBirthYear}, #{rcBirthMonth}, #{rcBirthDay}

            , #{trainUnderstand}, #{trainUnderstandEtc}

            , #{boarderGbn}

            , #{applyDay}
            , #{choiceDate}

            , NULL, NULL, NULL, NULL
            , NULL, NULL

            , 'N', #{note}, 'UNIFIED_APP'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            , 'UNIFIED_APP'
            , DATE_FORMAT(NOW(), '%Y-%m-%d %T')
            )
    </insert>

    <update id="updateUnifiedApplicationPayStatus" parameterType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.UnifiedMapper.updateUnifiedApplicationPayStatus */
        UPDATE application_unified
        <set>
            <if test="applyStatus != null and applyStatus != ''">
                apply_status = #{applyStatus},
            </if>
            <if test="cancelReason != null and cancelReason != ''">
                cancel_reason = <![CDATA[#{cancelReason}]]>,
                cancel_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T'),
            </if>
            <if test="refundBankCode != null and refundBankCode != ''">
                refund_bank_code = #{refundBankCode},
            </if>
            <if test="refundBankName != null and refundBankName != ''">
                refund_bank_name = #{refundBankName},
            </if>
            <if test="refundBankCustomerName != null and refundBankCustomerName != ''">
                refund_bank_customer_name = #{refundBankCustomerName},
            </if>
            <if test="refundBankNumber != null and refundBankNumber != ''">
                refund_bank_number = #{refundBankNumber},
            </if>
            final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        </set>
        WHERE seq = #{seq}
    </update>

    <select id="selectUnifiedPreCheck" parameterType="com.mtf.edumarine.dto.ApplicationUnifiedDTO" resultType="java.lang.Integer">
        /* com.mtf.edumarine.mapper.EdumarineMapper.selectUnifiedPreCheck */
        SELECT COUNT(1)
        FROM application_unified
        WHERE train_seq = #{trainSeq}
          AND member_seq = #{memberSeq}
          AND apply_status NOT LIKE '%취소%'
    </select>

    <select id="selectUnifiedApplicationList" parameterType="com.mtf.edumarine.dto.SearchDTO" resultType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.UnifiedMapper.selectUnifiedApplicationList */
        SELECT u.seq
             , u.train_seq
             , u.member_seq
             , u.apply_status
             , u.init_regi_dttm
             , u.cancel_dttm
             , m.name AS memberName
             , m.phone AS memberPhone
             , m.email AS memberEmail
             , t.gbn AS trainName
             , t.gbn_depth AS trainDepth
        FROM application_unified u
        JOIN member m ON u.member_seq = m.seq
        JOIN train t ON u.train_seq = t.seq
        WHERE 1=1
        <if test='searchText != null and searchText != ""'>
            <choose>
                <when test='condition == "NAME"'>
                    AND m.name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test='condition == "PHONE"'>
                    AND m.phone LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <otherwise>
                    AND (m.name LIKE CONCAT('%', #{searchText}, '%') OR m.phone LIKE CONCAT('%', #{searchText}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY u.init_regi_dttm DESC
        <if test='isPaging == "Y"'>
            LIMIT #{startRow}, #{endRow}
        </if>
    </select>

    <select id="selectUnifiedApplicationCount" parameterType="com.mtf.edumarine.dto.SearchDTO" resultType="int">
        /* com.mtf.edumarine.mapper.UnifiedMapper.selectUnifiedApplicationCount */
        SELECT COUNT(*)
        FROM application_unified u
        JOIN member m ON u.member_seq = m.seq
        WHERE 1=1
        <if test='searchText != null and searchText != ""'>
            <choose>
                <when test='condition == "NAME"'>
                    AND m.name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test='condition == "PHONE"'>
                    AND m.phone LIKE CONCAT('%', #{searchText}, '%')
                </when>
            </choose>
        </if>
    </select>

    <select id="selectUnifiedList" parameterType="com.mtf.edumarine.dto.ApplicationUnifiedDTO" resultType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.UnifiedMapper.selectUnifiedList */
        SELECT au.seq
             , au.member_seq
             , au.train_seq
             , t.gbn
             , m.grade
             , m.id
             , m.name as nameKo
             , m.name_en as nameEn
             , m.phone
             , m.email
             , au.apply_status
             , au.cancel_dttm
             , au.cancel_reason
             , au.del_yn
             , au.note
             , au.init_regi_pic
             , DATE_FORMAT(au.init_regi_dttm, '%Y-%m-%d %T') as initRegiDttm
             , au.final_regi_pic
             , au.final_regi_dttm
             , (SELECT p.pay_method from payment p where p.member_seq = m.seq and p.table_seq = au.seq) as payMethod
             , (SELECT p.cancel_gbn from payment p where p.member_seq = m.seq and p.table_seq = au.seq) as cancelGbn
             , t.next_time
             , t.train_start_dttm
        FROM application_unified au
        LEFT JOIN member m
        ON au.member_seq = m.seq
        LEFT JOIN train t
        ON au.train_seq = t.seq
        WHERE 1=1
        AND au.del_yn = 'N'
        <if test='searchText != null and searchText != ""'>
            <if test='condition eq "NAME"'>
                AND m.name LIKE BINARY CONCAT('%',#{searchText},'%')
            </if>
            <if test='condition eq "PHONE"'>
                AND m.phone LIKE BINARY CONCAT('%',#{searchText},'%')
            </if>
            <if test='condition eq "TRAIN"'>
                AND t.gbn LIKE BINARY CONCAT('%',#{searchText},'%')
            </if>
        </if>
        <if test='applyStatus != null and applyStatus != ""'>
            AND au.apply_status = #{applyStatus}
        </if>
        <if test='trainSeq != null and trainSeq != ""'>
            AND au.train_seq = #{trainSeq}
        </if>
        <if test='time != null'>
            AND t.next_time = #{time}
        </if>
        <if test='year != null and year != ""'>
            AND t.train_start_dttm LIKE CONCAT(#{year},'%')
        </if>
        ORDER BY m.grade IS NULL, au.init_regi_dttm DESC
    </select>

    <select id="selectUnifiedListCnt" parameterType="java.util.HashMap" resultType="int">
        /* com.mtf.edumarine.mapper.UnifiedMapper.selectUnifiedListCnt */
        SELECT COUNT(*)
        FROM application_unified A
        WHERE A.del_yn = 'N'
        <if test='status != null and status != ""'>
            AND A.apply_status = #{status}
        </if>
        <if test='trainSeq != null and trainSeq != ""'>
            AND A.train_seq = #{trainSeq}
        </if>
        <if test='searchText != null and searchText != ""'>
            <choose>
                <when test='condition == "name"'>
                    AND A.name LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <when test='condition == "phone"'>
                    AND A.phone LIKE CONCAT('%', #{searchText}, '%')
                </when>
                <otherwise>
                    AND (A.name LIKE CONCAT('%', #{searchText}, '%') OR A.phone LIKE CONCAT('%', #{searchText}, '%'))
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="selectActiveUnifiedTrainList" resultType="com.mtf.edumarine.dto.TrainDTO">
        SELECT seq, gbn, gbn_depth
        FROM train
        WHERE del_yn = 'N'
          AND application_system_type = 'UNIFIED'
        ORDER BY gbn ASC, gbn_depth ASC
    </select>

    <select id="selectUnifiedApplicationSingle" parameterType="String" resultType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.UnifiedMapper.selectUnifiedApplicationSingle */
        SELECT u.*
             , m.name AS memberName
             , m.id AS memberId
             , t.gbn AS trainName
        FROM application_unified u
         JOIN member m ON u.member_seq = m.seq
         JOIN train t ON u.train_seq = t.seq
        WHERE u.seq = #{seq}
    </select>

    <select id="selectApplicationUnifiedSingle" parameterType="java.lang.String" resultType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.EdumarineMapper.selectApplicationUnifiedSingle */
        SELECT u.seq
             , u.train_seq
             , u.member_seq
             , u.apply_status
             , u.region
             , u.participation_path
             , u.first_application_field
             , u.second_application_field
             , u.third_application_field
             , u.desired_education_time
             , u.experience_yn
             , u.recommend_person
             , u.top_clothes_size
             , u.bottom_clothes_size
             , u.shoes_size
             , u.grade_gbn
             , u.school_name
             , u.major
             , u.military_gbn
             , u.military_reason
             , u.disabled_gbn
             , u.job_support_gbn
             , u.tech_edu_gbn
             , u.tech_edu_name
             , u.apply_reason
             , u.tech_reason
             , u.activity_reason
             , u.plan_reason
             , u.etc_reason
             , u.know_path
             , u.know_path_reason
             , u.clothes_size
             , u.rc_birth_year
             , u.rc_birth_month
             , u.rc_birth_day
             , u.train_understand
             , u.train_understand_etc
             , u.boarder_gbn
             , u.apply_day
             , u.choice_date
             , u.cancel_dttm
             , u.cancel_reason
             , u.refund_bank_code
             , u.refund_bank_name
             , u.refund_bank_customer_name
             , u.refund_bank_number
             , u.del_yn
             , u.note
             , u.init_regi_pic
             , u.init_regi_dttm
             , u.final_regi_pic
             , u.final_regi_dttm
             , m.name AS memberName
             , m.id AS memberId
             , t.gbn AS trainName
        FROM application_unified u
        JOIN member m ON u.member_seq = m.seq
        JOIN train t ON u.train_seq = t.seq
        WHERE u.seq = #{seq}
    </select>

    <update id="updateUnifiedApplyStatus" parameterType="com.mtf.edumarine.dto.SternSpecialDTO">
        /* com.mtf.edumarine.mapper.EduMarineMngMapper.updateUnifiedApplyStatus */
        UPDATE application_unified
        SET apply_status = #{applyStatus}
        <if test='applyStatus eq "취소신청"'>
            , cancel_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        </if>
        <if test='cancelReason != null and cancelReason != ""'>
            , cancel_reason = #{cancelReason}
        </if>
        , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE seq = #{seq}
    </update>

    <update id="updateUnifiedApplication" parameterType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.UnifiedMapper.updateUnifiedApplication */
        UPDATE application_unified
        SET
            participation_path = #{participationPath}
          , recommend_person = #{recommendPerson}
          , clothes_size = #{clothesSize}
          , boarder_gbn = #{boarderGbn}
          , top_clothes_size = #{topClothesSize}
          , bottom_clothes_size = #{bottomClothesSize}
          , shoes_size = #{shoesSize}
          , grade_gbn = #{gradeGbn}
          , school_name = #{schoolName}
          , major = #{major}
          , military_gbn = #{militaryGbn}
          , military_reason = #{militaryReason}
          , disabled_gbn = #{disabledGbn}
          , job_support_gbn = #{jobSupportGbn}
          , apply_reason = <![CDATA[#{applyReason}]]>
          , tech_reason = <![CDATA[#{techReason}]]>
          , activity_reason = <![CDATA[#{activityReason}]]>
          , plan_reason = <![CDATA[#{planReason}]]>
          , etc_reason = <![CDATA[#{etcReason}]]>
          , final_regi_dttm = DATE_FORMAT(NOW(), '%Y-%m-%d %T')
        WHERE seq = #{seq}
    </update>

    <select id="selectExcelUnifiedApplicationList" parameterType="com.mtf.edumarine.dto.SearchDTO" resultType="com.mtf.edumarine.dto.ApplicationUnifiedDTO">
        /* com.mtf.edumarine.mapper.UnifiedMapper.selectExcelUnifiedApplicationList */
        SELECT au.seq
        , au.train_seq AS trainSeq
        , au.member_seq AS memberSeq
        , au.apply_status AS applyStatus
        , au.region AS region
        , au.participation_path AS participationPath
        , au.first_application_field AS firstApplicationField
        , au.second_application_field AS secondApplicationField
        , au.third_application_field AS thirdApplicationField
        , au.desired_education_time AS desiredEducationTime
        , au.experience_yn AS experienceYn
        , au.recommend_person AS recommendPerson
        , au.top_clothes_size AS topClothesSize
        , au.bottom_clothes_size AS bottomClothesSize
        , au.shoes_size AS shoesSize
        , au.grade_gbn AS gradeGbn
        , au.school_name AS schoolName
        , au.major AS major
        , au.military_gbn AS militaryGbn
        , au.military_reason AS militaryReason
        , au.disabled_gbn AS disabledGbn
        , au.job_support_gbn AS jobSupportGbn
        , au.tech_edu_gbn AS techEduGbn
        , au.tech_edu_name AS techEduName
        , au.apply_reason AS applyReason
        , au.tech_reason AS techReason
        , au.activity_reason AS activityReason
        , au.plan_reason AS planReason
        , au.etc_reason AS etcReason
        , au.know_path AS knowPath
        , au.know_path_reason AS knowPathReason
        , au.clothes_size AS clothesSize
        , au.rc_birth_year AS rcBirthYear
        , au.rc_birth_month AS rcBirthMonth
        , au.rc_birth_day AS rcBirthDay
        , au.train_understand AS trainUnderstand
        , au.train_understand_etc AS trainUnderstandEtc
        , au.boarder_gbn AS boarderGbn
        , au.apply_day AS applyDay
        , au.choice_date AS choiceDate
        , au.cancel_dttm AS cancelDttm
        , au.cancel_reason AS cancelReason
        , au.refund_bank_code AS refundBankCode
        , au.refund_bank_name AS refundBankName
        , au.refund_bank_customer_name AS refundBankCustomerName
        , au.refund_bank_number AS refundBankNumber
        , au.del_yn AS delYn
        , au.note AS note
        , t.gbn
        , t.gbn_depth AS gbnDepth
        , t.next_time AS nextTime
        , m.grade
        , m.id
        , m.name AS nameKo
        , m.name_en AS nameEn
        , m.phone
        , m.email
        , m.birth_year AS birthYear
        , m.birth_month AS birthMonth
        , m.birth_day AS birthDay
        , m.sex
        , m.address
        , m.address_detail AS addressDetail
        , (SELECT p.pay_method from payment p where p.member_seq = m.seq and p.table_seq = au.seq limit 1) AS payMethod
        , (SELECT p.tot_price from payment p where p.member_seq = m.seq and p.table_seq = au.seq limit 1) AS paySum
        , DATE_FORMAT(au.init_regi_dttm, '%Y-%m-%d %T') AS initRegiDttm
        FROM application_unified au
        LEFT JOIN member m ON au.member_seq = m.seq
        LEFT JOIN train t ON au.train_seq = t.seq
        WHERE au.del_yn = 'N'
        <if test='searchText != null and searchText != ""'>
            <if test='condition eq "NAME"'>
                AND m.name LIKE BINARY CONCAT('%',#{searchText},'%')
            </if>
            <if test='condition eq "PHONE"'>
                AND m.phone LIKE BINARY CONCAT('%',#{searchText},'%')
            </if>
            <if test='condition eq "all"'>
                AND (m.name LIKE BINARY CONCAT('%',#{searchText},'%') OR m.phone LIKE BINARY CONCAT('%',#{searchText},'%'))
            </if>
        </if>
        <if test='applyStatus != null and applyStatus != ""'>
            AND au.apply_status = #{applyStatus}
        </if>
        <if test='trainSeq != null and trainSeq != ""'>
            AND au.train_seq = #{trainSeq}
        </if>
        <if test='year != null and year != ""'>
            AND t.train_start_dttm LIKE CONCAT(#{year},'%')
        </if>
        ORDER BY au.init_regi_dttm DESC
    </select>

    <update id="updateTrainApplyCntMinus" parameterType="java.lang.String">
        /* com.mtf.edumarine.mapper.UnifiedMapper.updateTrainApplyCntMinus */
        UPDATE train
        SET train_apply_cnt = CASE WHEN train_apply_cnt > 0 THEN train_apply_cnt - 1 ELSE 0 END
        WHERE seq = (SELECT train_seq FROM application_unified WHERE seq = #{seq})
    </update>

    <update id="updateTrainApplyCntPlus" parameterType="java.lang.String">
        /* com.mtf.edumarine.mapper.UnifiedMapper.updateTrainApplyCntPlus */
        UPDATE train
        SET train_apply_cnt = train_apply_cnt + 1
        WHERE seq = (SELECT train_seq FROM application_unified WHERE seq = #{seq})
    </update>

</mapper>